.title {
    font-family: Play, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}
.styledFont {
    font-family: Play, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.appSection,
.altAppSection {
    padding: 100px 0;
}
.altAppSection {
    background: #16afb9;
    color: #fff;
}

.noStyle ul li {
    list-style: none none;
    padding: 0;
}
