.navBarAppCustom {
    padding: 0;
}
.navBarBrand {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.navBarAppCustom .navBarBrand,
.navBarAppCustom .appNavBarToggle {
    margin: 1em;
}

.appNavBarToggle:hover,
.activeLink {
    background: #1a242f;
}
.appNavBarToggle,
.appNavBarToggle:hover,
.appNavBarToggle:focus,
.appNavBarToggle:active {
    border: none;
    outline-style: none;
}

.appSubNavBar {
    font-family: Play, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}
.bg {
    background: #2c3e50;
}
.appNavLinkInner {
    padding: 0 1em;
}

.appNavLink:hover,
.appNavLink:focus,
.appNavLink.active {
    color: #16afb9;
    background: #2c3e50;
}
