.bg {
    font-family: Play, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    background: #2c3e50;
}

.title,
.brandNavLink {
    font-weight: 700;
}
.brandNavLink {
    color: #fff;
    padding-left: 10px;
}
.brandNavLink:hover,
.brandNavLink:focus,
.appNav .active {
    color: #16afb9;
    background: #1a242f;
}

