.scroll {
    position: fixed;
    width: 50px;
    height: 40px;
    bottom: 15px;
    left: 15px;
}
.scroll a {
    opacity: 0.3;
    height: 100%;
    width: 100%;
}

.scroll a:hover {
    opacity: 1;
 }
