.splash {
    text-align: center;
    background: #16afb9;
    color: #fff;
    padding: 100px 0 50px;
}
.adaptsToNavOpen {
    padding: 200px 0 0 0;
}
.title {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 1px;
}

@media (min-width: 768px) {
    .adaptsToNavOpen {
        padding: 0;
    }
    .splash .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }
    .title {
        font-size: 3em;
    }
    .splash .intro-text .skills {
        font-size: 2em;
    }
}

.splash .container {
    padding-top: 100px;
    padding-bottom: 50px;
}
.splash img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
}

.splash .summary {
    font-size: 1.25em;
    font-weight: 300;
}

.highLight {
    color: #f7ecb5;
    margin: 0 1em;
}

.img-centered {
    margin: 0 auto;
}
