.splash {
    text-align: center;
    background: #16afb9;
    color: #fff;
    padding: 100px 0 50px;
}
@media (min-width: 768px) {
    .splash .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }
    .splash .intro-text .name {
        font-size: 4.75em;
    }
    .splash .intro-text .skills {
        font-size: 1.75em;
    }
}

.splash .container {
    padding-top: 100px;
    padding-bottom: 50px;
}
.splash img {
    display: block;
    margin: 0 auto 20px;
}

.splash .title,
.splash .summary {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
}

.splash .title {
    font-size: 4.75em;
}

.highLight {
    color: #f7ecb5;
}

.img-centered {
    margin: 0 auto;
}
