.techIcon {
    color: #fff;
    text-align: center;
    font-size: 8em;
    margin-top: -0.3em;
}

@media (min-width: 768px) {
    .techIcon {
        margin-top: 0;
        font-size: 6em;
    }
}

@media (min-width: 992px) {
    .techIcon {
        margin-top: 0;
        font-size: 4em;
    }
}
.statements ul li {
    padding: 0.5em 0;
    list-style: none none;
}
.statementIcon {
    margin-right: 0.5em;
}
